


.sidebar{
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: center;
  background-color:var(--primary-color);
  color: var(--neutral1);
  border-radius: 2rem 0 0 2rem;
}

.sidebar h3{
  font-family: var(--header-font);
  text-decoration: underline;
  color: var(--highlight-color);
  font-size: 3rem;
}

.sidebar ul{
padding: 1rem;
}

.sidebar li{
text-decoration: none;
list-style: none;
font-size: 2rem;
margin: 2rem 0;
}