.map-container {
    width: 100%;
  }

  .popup-current-location {
    background-color: #283593; 
    color: #FFFFFF;
    border: 2px solid #F57C00; 
  }
  
  .popup-destination {
    background-color: #F57C00; 
    color: #FFFFFF;
    border: 2px solid #283593; 
  }#283593; 
  
