:root {
  --primary-color: #283593; /* Deep blue */
  --secondary-color: #F57C00; /* Warm orange */
  --accent-color1: #C2185B; /* Vivid pink */
  --accent-color2: #0288D1; /* Bright blue */
  --background-color: #222222; /* Dark grey */
  --main-text-color: #FFFFFF; /* White */
  --secondary-text-color: #AAAAAA; /* Light grey */
}

.map-and-sidebar{
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
  height: 50vh;
}
