:root {
  --primary-color: #283593; /* Deep blue */
  --secondary-color: #F57C00; /* Warm orange */
  --accent-color1: #C2185B; /* Vivid pink */
  --accent-color2: #0288D1; /* Bright blue */
  --background-color: #222222; /* Dark grey */
  --main-text-color: #FFFFFF; /* White */
  --secondary-text-color: #AAAAAA; /* Light grey */
}

.map-and-sidebar{
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;

}

.sidebar{
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  align-items: center;
  background-color:var(--primary-color);
  color: var(--main-text-color);
  font-size: 1.5rem;
  border-radius: 2rem 0 0 2rem;
}

.sidebar h3{
  text-decoration: underline;
}

.sidebar ul{
padding: 1rem;
}

.sidebar li{
text-decoration: none;
list-style: none;
margin: 2rem 0;
}